html {
  box-sizing:border-box;
  font-family: "Dosis", sans-serif;
  margin: 0;
}

header {
  background-color: #efeee9;
  line-height: 2.5;
  text-align: center;
  color: #551d06;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #9a816d;
  border: #795638;
  margin: 0;
}

a,
nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.4em 0 0.5em;
  display: block;
}

nav a:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-color: #785439;
}

.info-boxes li {
  color: #fff;
  background-color: #9a816d;
  border: 1px solid #725640;
}

.info-boxes {
  margin: 0;
  padding: 0;
  border: 1px solid #725640;
  list-style-type: none;
}

.info-boxes a {
  padding: .8rem;
  display: block;
}

.info-boxes a:hover {
  color: #fff;
  background-color: #7a5537
}

body {
  margin: 0;
}

.box {
  margin: 0;
}

ul {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
